.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.card {
  max-width: 400px;
  background-color: white;
  border-radius: 15px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  font-size: 18px;
}
.paragraph {
  max-width: 200px;
  font-size: 10px;
}
.image {
  align-self: flex-end;
  height: 60px;
}
